{
	"root": true,
	"extends": [
		"eslint-config-nitpick",
		"eslint-config-nitpick/typescript",
		"eslint-config-prettier"
	],

	"plugins": ["eslint-plugin-prettier"],
	"rules": {
		"prettier/prettier": 1,
		"jsdoc/no-undefined-types": [
			1,
			{
				"definedTypes": ["Partial"]
			}
		]
	}
}
