@use 'sass:color';

@function minnie($color) {
	@return $color;
}

body {
	width: calc(100px + 1px);
	color: becky(#f00);
	font-family: minnie(1);
	background-color: color.invert(#f00);
	min-width: percentage(100 / 2);
	@if false {
		height: harley(hotpink);
	}
}
